/*================================================================================================*/
/*=================[                                                            ]=================*/
/*=================[    !!!!!!!!   CSS CREATED BY RAJODIYA INFOTECH  !!!!!!!!   ]=================*/
/*=================[                                                            ]=================*/
/*================================================================================================*/

@media (min-width:992px) {
  .header-style-one .main-navigationbar .menu-items-col .main-nav {
    display: flex;
    align-items: center;
  }

  .desk-only {
    display: block !important;
  }

  .mobile-only {
    display: none !important;
  }

}



@media screen and (max-width:1440px) {
  .header-style-one .search-form-wrapper {
    max-width: 350px;
  }

  .header-style-one .top-navigationbar .menu>li:not(:last-of-type) {
    margin-right: 15px;
  }

  .header-style-one .top-navigationbar .menu>li>a {
    font-size: 13px;
  }
}

@media screen and (max-width:1500px) {
  .header-style-one .top-navigationbar .menu>li:not(:last-of-type) {
    margin-right: 20px;
}
.header-style-one .top-navigationbar .menu>li{
  font-size: 13px;
}
}

@media screen and (max-width:1260px) {
  .header-style-one .top-navigationbar .menu {
    display: none;
  }

  .header-style-one .search-form-wrapper {
    display: flex;
  }

  .header-style-one .main-navigationbar .menu-items-col {
    display: none;
  }

  .header-style-one .top-navigationbar {
    justify-content: flex-end;
    border: 0;
    padding-left: 0;
  }

  .header-style-one .mobile-menu {
    display: block;
  }

  .menu-right {
    padding: 0 0 0 0;
    flex: 1;
  }

  .header-style-one .search-form-wrapper {
    display: none;
  }

  .banner-content-left {
    padding-right: 0;
  }

  .category-list .category-card {
    width: 100%;
  }

  .category-list li:nth-child(1),
  .category-list li:nth-child(3) {
    padding-right: 30px;
  }

  .category-list li:nth-child(3) .category-card {
    width: 98%;
    margin-left: 0;
  }

  .category-list li:nth-child(2n+2) .category-card {
    width: 90%;
  }

  .client-logo-slider .slick-arrow {
    width: 30px;
    height: 30px;
  }

  .client-logo-slider .slick-arrow.slick-prev {
    left: -10px;
  }

  .footer-subscribe-col {
    padding-left: 0 !important;
    max-width: 50%;
    flex: 0 0 50%;
    margin-top: 30px;
  }

  .menu-right li:last-child .menu-dropdown {
    right: 0;
  }

  .header-style-one .header-top {
    padding: 0 15px;
  }
  .chapter-description-section .pdp-tab .tabs::before{
    content: unset;
  }
  .share-course::after{
    content: unset;
  }
  .login-left-side {
    padding-right: 0;
  }
  .menu-right>li.search-header {
    display: block;
  }
  .login-page{
    padding-top: 150px;
  }
}

@media screen and (max-width:1199px) {
  :root {
    --h1: normal 700 40px/1 var(--first-font);
    --h2: normal 700 32px/1 var(--first-font);
    --h3: normal 700 26px/1 var(--first-font);
    --h4: normal 700 20px/1 var(--first-font);
    --h5: normal 700 18px/1 var(--first-font);
    --h6: normal 700 16px/1 var(--first-font);
  }


}

@media screen and (max-width:1000px) {}

@media screen and (max-width:992px) {
  :root {
    --h1: normal 700 36px/1 var(--first-font);
    --common-text: normal 400 14px/1.4 var(--first-font);
  }


  .menu-right li:not(:last-of-type) {
    margin-right: 20px;
  }

  .menu-right>li.search-header {
    display: block;
  }

  .header-style-one .search-form-wrapper {
    display: none;
  }

  .header-style-one .top-navigationbar {
    justify-content: flex-end;
    border-left: 0;
    margin: 0;
    padding-right: 15px;
  }

  .menu-right {
    justify-content: flex-end;
  }

  .category-list li:nth-child(3) .category-card {
    margin-left: 0;
  }

  .banner-content-left {
    padding-right: 0;
    margin-top: 50px;
  }

  .main-home-first-section .banner-image {
    height: 80%;
  }

  .testimonial-section .customers-review {
    margin-top: 50px;
  }

  .skills-left-inner {
    margin-bottom: 50px;
  }
  .pdp-summery-row{
    flex-direction: column-reverse;
  }
  .pdp-summery-row .pdp-right-side{
    margin-bottom: 40px;
  }
  .description-left-side, .syllabus-left-side {
    padding-right: 0;
    margin-bottom: 40px;
  }
  .syllabus-list ol{
    padding: 0 0 0 10px;
  }
  .educators-left-side{
    margin-bottom: 40px;
  }
  .review-left-side {
    padding-right: 0;
  }
  .review-progress {
    padding-right: 0;
  }
  
  .chapter-head-block{
    max-width: 50%;
  }
  .course-progress{
    max-width: 100%;
  }
  .chapter-head-block.page-btn-block{
    order: 2;
  }
  .pdp-summery-accordian{
    margin-top: 30px;
  }
  .chapter-description-section .pdp-tab{
    margin-bottom: 30px;
  }
  .about-tutor-section .tutor-right-side {
    margin-top: 30px;
  }
  .filter-title h4 {
    margin-left: 15px;
}
.filter-title div {
  max-width: 40px;
  width: 100%;
  border: 1px solid var(--theme-color);
  padding: 2px;
  display: block;
}
.filter-title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.product-filter-column .product-filter-body,
.blog-filter-column .blog-filter-body{
  position: fixed;
  top: 0;
  background: var(--black);
  left: 0;
  max-width: 300px;
  width: 100%;
  height: 100%;
  z-index: 5;
  overflow: auto;
  transition: all ease-in-out 0.5s;
  -webkit-transform: translate(-100%, 0px);
  -moz-transform: translate(100%, 0px);
  -ms-transform: translate(100%, 0px);
  -o-transform: translate(100%, 0px);
  transform: translate(-100%, 0px);
  padding: 40px 0;
}
.filter-open .product-filter-body,
.filter-open .blog-filter-body{
  -moz-transform: translate(0);
  -o-transform: translate(0);
  -ms-transform: translate(0);
  -webkit-transform: translate(0);
  transform: translate(0);
  box-shadow: 0px 4px 55px rgb(24 58 64 / 12%);
}
.close-filter {
  position: absolute;
  top: 0;
  background: var(--theme-color);
  height: 30px;
  width: 30px;
  padding: 7px;
  right: 0;
  cursor: pointer;
}
.close-filter svg {
  height: 100%;
  width: 100%;
}
.cart-summery {
  margin-top: 30px;
}
.login-left-side {
  padding-right: 0;
  margin-bottom: 40px;
}
.login-page{
  padding-top: 120px;
}


.menu-right>li:not(.profile-header)>a{
  font-size: 0;
  padding: 15px 0;
}
.menu-right>li.language-header>a{
  font-size: 14px;
  padding-right: 20px;
}

.menu-right .count {
  position: absolute;
  top: 5px;
  left: auto;
  right: -5px;
}
.header-style-one .logo-col{
  max-width: 110px;
}

.main-home-first-section{
  padding-top: 100px;
}



}


@media screen and (max-width:767px) {
  .menu-right>li>a {
    font-size: 0;
    padding: 15px 0;
  }
  .header-style-one.head-sticky .offer-announcement{
    display: none;
  }
.navigationbar-row{
  justify-content: center;
}
  .main-navigationbar .offer-announcement{
    justify-content: center;
  }

  .menu-right li.profile-header,
  .menu-right li.language-header {
    display: none;
  }

  .menu-right .count {
    position: absolute;
    top: 5px;
    left: auto;
    right: -5px;
  }
  .header-style-one .mobile-menu {
    margin: 0 0 0 5px;
  }
  .header-style-one .logo-col{
    border: 0;
  }
  .menu-right li .icon{
    margin: 0;
  }

  .header-style-one .mobile-menu-bottom {
    display: block;
    width: 100%;
    padding: 0 15px; 
    border-top: 1px solid var(--border-color);
 }

 .header-style-one .mobile-menu-bottom ul{
  position: relative;
 }
 .header-style-one .mobile-menu-bottom>ul>li>a{
   padding: 15px 0;
 }

 .header-style-one .mobile-menu-bottom>ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header-style-one .mobile-menu-bottom>ul>li a{
  display: inline-flex;
  align-items: center;
  position: relative;
  line-height: 1;
}
.header-style-one .mobile-menu-bottom>ul>li.has-item a{
padding-right: 15px;
}

.header-style-one .mobile-menu-bottom>ul>li a .icon svg{
  width: 17px;
  height: 17px;
  margin-right: 10px;
}
.header-style-one .mobile-menu-bottom>ul>li a .icon svg path{
  fill: var(--white);
}
.header-style-one .mobile-menu-bottom>ul>li .menu-dropdown a svg{
  margin-right: 10px;
  width: 17px;
  height: 17px;
}
.header-style-one .mobile-menu-bottom>ul>li .menu-dropdown a svg path{
  fill: var(--second-color);
}
.header-style-one .logo-col{
  padding-left: 15px;
  padding-right: 0;
  padding-top: 10px;
  padding-bottom: 15px;
}
.header-style-one .header-top {
  padding: 0 0;
}
.header-style-one .mobile-menu-bottom .menu-dropdown {
  min-width: unset;
  padding: 15px;
}
.search-popup .close-search{
  width: 25px;
  height: 25px;
  right: 20px;
  top: 20px;
}
.padding-top{
  padding-top: 40px;
}
.padding-bottom {
  padding-bottom: 40px;
}

.main-home-first-section{
  padding-top: 135px;
  padding-bottom: 40px;
  margin-bottom: 0;
}
.home-banner-content-inner .btn-group .btn {
margin-top: 15px;
}
.home-banner-content-inner .btn-group {
  margin-top: 15px;
}
.banner-content-left .banner-category-wrap{
  flex-wrap: wrap;
}
.category-list li:nth-child(1), .category-list li:nth-child(3) {
  padding-right: 0;
}
.category-list li:nth-child(2n+2) .category-card {
  width: 100%;
}
.btn-degrees br{
  display: none;
}
.btn-degrees{
  padding: 10px 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.btn-degrees svg{
  position: relative;
  margin-left: 10px;
  width: 15px;
  transform: rotate(45deg);
  top: 0;
  right: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.banner-content-left .btn-wrapper{
  flex: 1;
  text-align: center;
  margin-top: 30px;
}
.banner-content-left{
  margin-top: 30px;
}
.container.offset-left .row>div:first-child{
  padding-left: 15px;
}
.client-logo-slider{
  margin-top: 30px;
}
.tabs li:not(:last-of-type) {
  margin-right: 15px;
  font-size: 13px;
}
.tabs li{
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.section-title {
  margin-bottom: 26px;
}
.client-logo-section{
  padding-bottom: 40px;
  padding-top: 40px;
}

.section-more-courses h3{
  flex: 100%;
}
.section-more-courses .btn{
margin-top: 15px;
}

.earn-degree-section::before{
  content: unset;
}
.skills-left-inner {
  margin-bottom: 30px;
}
.home-category-section{
  margin-top: 0;
}
.category-itm:nth-child(even) .category-itm-inner .category-content-main {
  padding: 15px 0 0;
}
.category-itm:nth-child(even) .category-itm-inner {
  flex-direction:column;
}
.section-title.d-flex h2 {
  flex: 100%;
}
.section-title .btn{
margin-top: 15px;
}
.customers-review .testimonial-card {
  max-width: 100%;
}
.testimonial-section .customers-review {
  margin-top: 30px;
}
.testimonial-section .newsletter-container {
  margin-top: 0;
}

.progress-right-dw .download-btn a{
  width: 50px;
  height: 50px;
}
.progress-right-dw .download-btn a svg{
  width: 25px;
  height: 25px;
}

.footer-col {
  flex: 0 0 100%;
  padding: 0;
  max-width: 100%;
  margin-bottom: 30px;
}
.footer-col:not(:first-of-type) {
  padding-left: 0;
}
.site-footer .newsletter-form .input-wrapper{
flex-wrap: nowrap;
}

.footer-row{
  padding-top: 40px;
  padding-bottom: 20px;
}
.footer-col.footer-link-4 {
  flex: 0 0 100%;
  max-width: 100%;
}
.footer-subscribe-col{
  margin-top: 0;
}

.home-category-row .category-itm {
  margin-bottom: 30px;
}
.home-category-row{
  margin-bottom: 0;
}
.product-center-slider .slick-list {
  padding: 0 15px 0px !important;
}
.category-content-main {
  padding: 20px 0 0;
}

.review-left-side{
  margin-bottom: 30px;
}
.requirement-left-side{
  margin-bottom: 30px;
}
.pdp-tab .tabs{
  padding-top: 15px;
}
.pdp-tab .tabs li{
  padding: 0 0 10px 0;
  margin-bottom: 5px;
}
.pdp-tab{
  margin-top: 30px;
}
.educators-left-side {
  margin-bottom: 30px;
}
.description-left-side, .syllabus-left-side {
  margin-bottom: 30px;
}
.syllabus-card .left-side{
  padding-right: 20px;
}
.share-course li:last-child {
  flex: unset;
}
.share-course li:not(:last-of-type){
  margin-bottom: 15px;
}
.chapter-head .container.offset-right {
  padding-right: 15px;
}
.next-btn svg,
.prev-btn svg{
  width: 17px;
  height: 17px;
}

.more-from-tutor::before{
  content: unset;
}
.common-banner-section{
  padding: 40px 0;
}
.popular-tags p{
  width: 100%;
}

.product-list-row {
  margin-top: 30px;
}
.filter-title div {
  max-width: 30px;
}

.cart-item-inner .product-image {
  max-width: 100%;
}
.cart-item-inner .product-image img{
  margin: auto;
}
.cart-tble-list .cart-item .cart-item-inner{
  flex-wrap: wrap;
}
.product-cart-summry {
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px 0px;
  flex: 100%;
  width: 100%;
}
.product-cart-summry .name {
  flex: 100%;
  margin-bottom: 15px;
  padding: 0 15px 15px;
  border-bottom: 1px solid var(--border-color);
  max-width: 100%;
}
.product-cart-summry>div:not(:first-of-type) {
  padding-right: 15px;
}
.cart-tble-list li::before{
  top: 16px;
  left: 0;
}
.articlerightbar {
  padding-top: 40px;
}
.login-page {
  padding-top: 235px !important;
}
.mobile-direction-column {
  flex-direction: column;
}
.login-form .submit-btn {
  max-width: 170px;
  margin: 0 0 15px 0;
}
.login-form p{
  text-align: center;
}
.site-footer{
  padding-bottom: 40px;
}
.payment-method-form .row [class*="col-"]{
  margin-bottom: 20px;
}
.payment-method-form .row{
  margin-bottom: -20px;
}
.payment-method-form .form-group.text-right{
  text-align: left !important;
}
}

@media screen and (max-width:575px) {
  :root {
    --h2: normal 700 28px/1 var(--first-font);
    --h3: normal 700 24px/1 var(--first-font);
    --h4: normal 700 22px/1 var(--first-font);
    --h5: normal 700 20px/1 var(--first-font);
  }
  .header-style-one .logo-col {
    max-width: 150px;
  }
  .newsletter-form .input-wrapper{
    flex-wrap: wrap;
  }
  .newsletter-container .newsletter-form .input-wrapper .btn {
    margin-top: 15px;
    width: auto;
  }
  .product-review {
    margin-top: 25px;
}
.product-review {
  margin-top: 25px;
}
.product-review ul li:not(:last-of-type) {
  margin-right: 10px;
  padding-right: 10px;
}
.pdp-subtitles .review-rating{
  margin-top: 15px;
}
.summery-blocks li{
  width: 100%;
}

.chapter-head-block{
  max-width: 100%;
}
.course-download-card .course-image {
  width: 25px;
}
.course-download-card .corse-caption{
  padding-left: 15px;
}
.course-download-card .corse-caption h5{
  font-size: 14px;
}
.course-download-card .corse-caption span{
  font-size: 12px;
}

.tutor-sub{
  flex-direction: column;
}
.tutor-sub li:not(:last-of-type){
  margin-bottom: 15px;
}
.user-profile .user-info-main {
  margin-left: 0;
  margin-top: 15px;
  width: 100%;
}
.user-tags li:not(:last-of-type) {
  margin-right: 10px;
}
.courser-top-content .course-review-name{
flex: 100%;
margin-bottom: 15px;
}
.course-review-profile .course-review-profile-img{
  max-width: 60px;
}
.syllabus-card .left-side {
  padding-right: 0;
  flex: 100%;
  margin-bottom: 15px;
}

}

@media screen and (max-width:420px) {
 
}

@media screen and (max-width:370px) {
  .menu-right li:not(:last-of-type) {
    margin-right: 15px;
  }
  .header-style-one .logo-col {
    max-width: 120px;
  }
}